.DS_Store
*.swp
*.seed
.project
.settings
./data
node_modules/

output
build
dist
.bin
npm-debug.log
builderror.log

bson.sublime-project
bson.sublime-workspace

.vscode

lib
.nyc_output/
coverage/
*.d.ts
*.tgz
docs/public

*.0x
*.cpuprofile
*.heapprofile
