.npmignore
.gitignore
.buildinfo
.mongodb
.DS_Store

HISTORY
Readme.md
TODO

benchmarks/
docs/
docs/sphinx-docs
data/
dev/
examples/
test/

ex/build/
ext/build/.wafpickle-7

bson.sublime-project
bson.sublime-workspace